<div class="header" style="position: static">
    <div>
        <a href="{% url 'index' %}">Об игре</a>
    </div>
    <div>
        <a href="{% url 'screenshot' %}">Скриншоты</a>
    </div>
    <div>
        <a href="">Видео</a>
    </div>
    <div>
        <a href="">Аудио</a>
    </div>
    <div>
        <a href="">Добавить</a>
    </div>
</div>


<div class="header">
    <div>
        <a href="{% url 'index' %}">Об игре</a>
    </div>
    <div>
        <a href="{% url 'screenshot' %}">Скриншоты</a>
    </div>
    <div>
        <a href="{% url 'video' %}">Видео</a>
    </div>
    <div>
        <a href="{% url 'music' %}">Аудио</a>
    </div>
    <div>
        <a href="{% url 'add' %}">Добавить</a>
    </div>
</div>

